* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, system-ui, sans-serif;
    background: var(--light);
    color: var(--dark);
}

/* NAVIGATION CONTAINER */
/* All nav styles are in Navigation.css */

.hero-section {
    width: 100%;
    height: 90vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    /* tamna transparentna maska preko slike */
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
}

.hero-overlay h1 {
    color: var(--light);
    font-size: 1.6rem;
    font-weight: 700;
}

.hero::before {
    background: rgba(0, 0, 0, 0.5);
}