* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, system-ui, sans-serif;
    background: var(--light);
    color: var(--dark);
}

/* NAVIGATION CONTAINER */


/* .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 1rem;
    background: var(--light);
    border-bottom: 1px solid var(--gray);
    position: relative;
    gap: 2rem;
    z-index: 10;
} */

.navigation {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 1rem;
    gap: 2rem;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: transparent;
    transition: background 0.3s ease;
}

.navigation.scrolled {
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(6px);
}


/* LEFT: CTA */
.nav-left {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}

/* CENTER: logo / name */
.nav-center {
    flex: 1;
    font-size: 0.5rem;
    color: var(--primary);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
}

.logo-img {
    height: 4.5rem;
    width: auto;
    border-radius: 1.5rem;
}

/* RIGHT: Burger */
.nav-right {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.5rem;
}

/* CTA dugme */
.cta-btn {
    background: var(--primary);
    color: var(--light);
    padding: 0.5rem 0.6rem;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
    font-size: 0.9rem;
}

/* Burger dugme */
.burger {
    font-size: 2rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

/* MOBILE MENU */
.mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    background: var(--light);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-top: 1px solid var(--gray);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.hero-section {
    width: 100%;
    height: 90vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    /* tamna transparentna maska preko slike */
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
}

.hero-overlay h1 {
    color: var(--light);
    font-size: 1.6rem;
    font-weight: 700;
}

.hero::before {
    background: rgba(0, 0, 0, 0.5);
}