.map-embed {
    width: 100%;
    height: 350px;
    margin-top: 3rem;
}

.map-embed iframe {
    width: 100%;
    height: 100%;
    border: none;
}

@media (min-width: 768px) {
    .map-embed {
        height: 420px;
    }
}